.hero-unit {
 background-color:#B9E1F4;
 text-shadow: 2px 1px 1px #6593a8;
 filter: dropshadow(color=#6593a8, offx=2, offy=1);

}
header{
	text-align:center;
	letter-spacing: 4px;
	text-shadow: 1px 1px 1px #0066cc;
        filter: dropshadow(color=#0066cc, offx=1, offy=1);
		
}
h1,h2,h3,h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold
	margin-bottom: 20px;
}
h1{
	padding-left: 30px;
	}

.span3{
	background-color:#CCC;
	-webkit-border-radius: 15px; 
    border-radius: 15px;
	-webkit-box-shadow:  2px 2px 5px 3px , .5);
        
        box-shadow:  2px 2px 5px 3px , .5);
		-webkit-box-shadow:  2px 2px 5px 3px rgba(0, 0, 0, .5);
        
        box-shadow:  2px 2px 5px 3px rgba(0, 0, 0, .5);
	
}

.awesome{
width:200px;
height:100px;
background:#0D977B;
transition:width 2s, height 2s;
-moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
-o-transition:width 2s, height 2s, -o-transform 2s; /* Opera */
}
.awesome:hover
{
width:400px;
height:200px;
transform:rotate(180deg);
-moz-transform:rotate(180deg); /* Firefox 4 */
-webkit-transform:rotate(180deg); /* Safari and Chrome */
-o-transform:rotate(180deg); /* Opera */
}


.span, p{
	padding-left:25px;
}
footer {

	text-align:center;

}